<div class="caixa-login">
  <h2>Acesse sua Conta</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="grupo-input">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        placeholder="seu@email.com"
        formControlName="email"
      />
      <div *ngIf="isInvalid('email')" class="error-feedback">
        <span *ngIf="loginForm.get('email')?.hasError('required')">Email é obrigatório.</span>
        <span *ngIf="loginForm.get('email')?.hasError('email')">Email inválido.</span>
      </div>
    </div>

    <div class="grupo-input">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        placeholder="Digite sua senha"
        formControlName="password"
      />
      <div *ngIf="isInvalid('password')" class="error-feedback">
        <span *ngIf="loginForm.get('password')?.hasError('required')">Senha é obrigatória.</span>
      </div>
    </div>

    <div class="link-extra">
        <a routerLink="/esqueci-minha-senha">Esqueci minha senha</a>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <button class="botao-principal" type="submit" [disabled]="loginForm.invalid || isLoading">
       <span *ngIf="!isLoading">Entrar</span>
       <span *ngIf="isLoading" class="spinner-container">
        <div class="spinner"></div>
        Entrando...
      </span>
    </button>
  </form>
  <p class="link-alternativo">Não tem uma conta? <a routerLink="/registro">Registre-se</a></p>
</div>
