<div class="caixa-login">
  <h2>Crie sua conta</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Campo Nome Completo -->
    <div class="grupo-input">
      <label for="name">Nome Completo</label>
      <input
        id="name"
        type="text"
        placeholder="Ex: Maria Sousa"
        formControlName="name"
      />
      <!-- Mensagem de Erro -->
      <div *ngIf="isInvalid('name')" class="error-feedback">
        Nome é obrigatório.
      </div>
    </div>

    <!-- Campo Email -->
    <div class="grupo-input">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        placeholder="seu@email.com"
        formControlName="email"
      />
      <div *ngIf="isInvalid('email')" class="error-feedback">
        <span *ngIf="registerForm.get('email')?.hasError('required')">Email é obrigatório.</span>
        <span *ngIf="registerForm.get('email')?.hasError('email')">Email inválido.</span>
      </div>
    </div>

    <!-- Campo Senha -->
    <div class="grupo-input">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        placeholder="Mínimo 8 caracteres"
        formControlName="password"
      />
       <div *ngIf="isInvalid('password')" class="error-feedback">
         <span *ngIf="registerForm.get('password')?.hasError('required')">Senha é obrigatória.</span>
         <span *ngIf="registerForm.get('password')?.hasError('minlength')">Senha deve ter no mínimo 8 caracteres.</span>
         <span *ngIf="registerForm.get('password')?.hasError('pattern')">Deve incluir maiúscula, minúscula e número.</span>
      </div>
    </div>

    <!-- Campo Confirmar Senha -->
    <div class="grupo-input">
      <label for="confirmPassword">Confirmar Senha</label>
      <input
        id="confirmPassword"
        type="password"
        placeholder="Confirme sua senha"
        formControlName="confirmPassword"
      />
      <div *ngIf="isInvalid('confirmPassword') || registerForm.hasError('passwordsDoNotMatch')" class="error-feedback">
          <span *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirmação é obrigatória.</span>
          <span *ngIf="registerForm.hasError('passwordsDoNotMatch')">As senhas não coincidem.</span>
      </div>
    </div>

    <!-- Mensagens Globais -->
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <!-- Botão de Cadastro -->
    <button class="botao-principal" type="submit" [disabled]="registerForm.invalid || isLoading">
      <span *ngIf="!isLoading">Cadastrar</span>
      <span *ngIf="isLoading" class="spinner-container">
        <div class="spinner"></div>
        Carregando...
      </span>
    </button>
  </form>
  <p class="link-alternativo">Já tem uma conta? <a routerLink="/login">Faça o login</a></p>
</div>
